<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="../css/profile.css">		
		
	</head>
	<body class="fondo">
		
		<h1><em>The~Pelayos~Crew</em></h1>

		<div id="cubo">
			
			
			<div id="bienvenida">Este es tu perfil</div>
			<hr>
			<div id="bienvenida">
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
				<form action="/profile/crear" method="POST">
					<em><p id="error"><%= mensaje %></p></em>
					<p>Nombre:</p>
					<li><input type="text" name="name" class="texto" placeholder="nombre" ></label></li>
                    <br>
                    <p>Nombre de usuario:</p>
					<li><input type="text" name="username" class="texto" placeholder="nombre de usuario" ></label></li>
                    <br>
                    <p>Email:</p>
					<li><input type="email" name="email" class="texto" placeholder="email" ></label></li>
                    <br>
                    <p>Telefono:</p>
					<li><input type="text" name="phone" class="texto" placeholder="telefono" ></label></li>
                    <br>
                    <p>Sitio Web:</p>
					<li><input type="text" name="website" class="texto" placeholder="sitio web" ></label></li>
                    <br>
                    <hr>
                    <p>Calle:</p>
					<li><input type="text" name="street" class="texto" placeholder="calle" ></label></li>
                    <br>
                    <p>Numero:</p>
					<li><input type="text" name="suite" class="texto" placeholder="numero/portal" ></label></li>
                    <br>
                    <p>Ciudad:</p>
					<li><input type="text" name="city" class="texto" placeholder="ciudad" ></label></li>
                    <br>
                    <p>Codigo Postal:</p>
					<li><input type="text" name="zipcode" class="texto" placeholder="codigo postal" ></label></li>
                    <br>
                    <hr>
                    <p>Nombre de empresa:</p>
					<li><input type="text" name="company_name" class="texto" placeholder="empresa" ></label></li>
                    <br>
                    <p>Lema:</p>
					<li><input type="text" name="catchPhrase" class="texto" placeholder="lema" ></label></li>
                    <br>
                    <p>bs:</p>
					<li><input type="text" name="bs" class="texto" placeholder="bs" ></label></li>
					<br>
					<em><p id="error"><%= mensaje %></p></em>
					<input type="submit" class="boton" value="SUBIR DATOS">
					
				</form>
				

				
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
				
			</div>

			
			
		
			<hr>
			<center>
				<p>Para salir de la sesión, pulse: </p>
				<a href="/logout">
				Logout
				</a>
			</center>

		</div>

			

			
			
		</div>
		

		
	</body>

	
</html>