<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="../css/profile.css">		
		
	</head>
	<body class="fondo">
		
		<h1><em>The~Pelayos~Crew</em></h1>

		<div id="cubo">
			
			
			<div id="bienvenida">Este es tu perfil</div>
			<hr>
			<div id="bienvenida">
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
                <form action="/profile/editar" method="POST">
                    <p>Inserte el email de identificación:</p>
					<li><input type="email" name="email" class="texto" placeholder="Escriba el email..." ></label></li>
					<label for="dato">Elija el dato que quiere editar entre lo siguientes:</label><br>
					<select name="opcion" class="texto">
						<option value="0">Eliga la opción que quiere editar </option>
						<option value="1">Nombre </option>
						<option value="2">Username</option>
						<option value="3">Telefono</option>
						<option value="4">Sitio web</option>
					</select><br><br>
					<p>Inserte el dato nuevo:</p>
					<li><input type="text" name="dato" class="texto" placeholder="Escriba en función del dato seleccionado..." ></label></li>
					<br>
					<em><p id="error"><%= mensaje %></p></em>
					<input type="submit" class="boton" value="ACTUALIZAR">
					
				</form>
				

				
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
				
			</div>

			
			
		
			<hr>
			<center>
				<p>Para salir de la sesión, pulse: </p>
				<a href="/logout">
				Logout
				</a>
			</center>

		
	</body>

	
</html>