<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="../css/profile.css">		
		
	</head>
	<body class="fondo">
		
		<h1><em>The~Pelayos~Crew</em></h1>

		<div id="cubo">
			
			
			<div id="bienvenida">Este es tu perfil</div>
			<hr>
			<div id="bienvenida">
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
                <form action="/profile/eliminar" method="POST">
                    <p>Inserte el email del usuario que quieres eliminar:</p>
					<li><input type="email" name="email" class="texto" placeholder="Escriba el email..." ></label></li>
					<br>
					<em><p id="error"><%= mensaje %></p></em>
					<input type="submit" class="boton" value="ELIMINAR">
					
				</form>
				

				
				<button onclick="location.href = '/profile'"  class="boton">↩  Volver al Perfil  ↩</button>
				
				
			</div>

			
			
		
			<hr>
			<center>
				<p>Para salir de la sesión, pulse: </p>
				<a href="/logout">
				Logout
				</a>
			</center>

		
	</body>

	
</html>