<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="css/estilo.css">		
		
	</head>
	<body class="fondo">
		
		<h1><em>The~Pelayos~Crew</em></h1>

		<div id="cubo">
			
			
			<div id="bienvenida">LOGIN</div>
			

			
				<form id="regis" action="/login" method="POST">
					
                    <label for="username">Email</label>
                    <li><input type="text" name="email" class="texto" placeholder="Email" ></label></li>
                    <label for="password">Password</label>
                    <li><input type="password" name="password" class="texto" placeholder="password"></label></li>
					<br>
					<em><p id="error"><%= mensaje %></p></em>
					<br>
					<input type="submit" class="boton" value="INICIAR SESIÓN">
				</form>
                
				<hr>
                <center><div class="text-center">
                    <p>¿Necesitas una cuenta? <a href="signup">Signup</a></p>
                    <p>Volver a <a href="/">home</a>.</p>
                </div></center>

		</div>
		

		
	</body>
</html>