<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="css/profile.css">		
		
	</head>
	<body class="fondo">
		
		<h1><em>The~Pelayos~Crew</em></h1>

		<div id="cubo">
			
			
			<div id="bienvenida">Este es tu perfil</div>
			<hr>
			<div id="bienvenida">
				<p>Buenos días <%= user.nombre %> <%= user.apellido %>, ¡BIENVENIDO! este es su email: <%= user.email %></p>
				<p>¿Qué quiere hacer?</p>
				<button onclick="location.href = './profile/ver'"  class="boton">Ver</button>
				<button onclick="location.href = './profile/crear'"  class="boton">Crear</button>
				<button onclick="location.href = './profile/editar'"  class="boton">Editar</button>
				<button onclick="location.href = './profile/eliminar'"  class="boton">Eliminar</button>

			</div>
			
			
		
			<hr>
			<center>
				<p>Para salir de la sesión, pulse: </p>
				<a href="/logout">
				Logout
				</a>
			</center>

		</div>

			

			
			
		</div>
		

		
	</body>

	
</html>