<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>TPC</title>
		
		<LINK REL="stylesheet" TYPE="text/css" HREF="css/estilo.css">		
           
	</head>
	<body class="fondo">
		
        <h1><em>The~Pelayos~Crew</em></h1>
        

		<div id="cubo">
            
			
			
			<div id="bienvenida">SIGN UP</div>

			
                <form id="regis" action="/signup" method="post">
                    
                    <label>Nombre:</label>
                    <li><input type="text" name="nombre" class="texto" placeholder="Nombre"></label></li>

                    <label>Apellido:</label>
                    <li><input type="text" name="apellido" class="texto" placeholder="Apellido"></label></li>

                    <label>Telefono:</label>
                    <li><input type="tel" name="telefono" class="texto" placeholder="#########"></label></li>

                    <label>Email:</label>
                    <li><input type="email" name="email" class="texto" placeholder="Email"></label></li>
                    
                    <label>Contraseña:</label>
                    <li><input type="password" name="password" class="texto" placeholder="password"></label></li>

                    <label>Repita la contraseña:</label>
                    <li><input type="password" name="password2" class="texto" placeholder="password"></label></li>
                    
                    <br>
					<em><p id="error"><%= mensaje %></p></em>
					<br>

                    <input type="submit" class="boton" value="REGISTRARSE">                      
                </form>
            
                <hr>
                <center><div class="text-center">
                    <p>¿Ya tienes una cuenta? <a href="login">Login</a></p>
                    <p>Volver a <a href="/">home</a>.</p>
                </div></center>

		</div>
		

		
    </body>
    
</html>