
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-family: sans-serif;
	
}
.fondo{
    background: blue;
    background: -webkit-linear-gradient(to right, #004e92, #19205e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #19205e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

h1{
	font-family: bevan;
	font-size: 100px;
	position:relative;
	margin:20px auto;
	height:120px;
	text-align: left;
	
	
	line-height:120px;
    color: white;  /* fallback for old browsers */
    
	border-radius:20px;	

	
}
#cubo{	

	margin:10px auto;
	width:90%;
	
	border:1px solid #aaa;
	
	background:blanchedalmond;	
}

#bienvenida{
    font-family: Quicksand;

	margin:20px auto;
	width:79%;
	background:white;
	border:1px solid #ccc;
	
	box-shadow:5px 5px 10px #999;
	padding:1%;
	text-align:left;
	font-size:30px;
	overflow:hidden;
}

#regis{

	position:relative;
	margin:20px auto;
	width:70%;
	background:white;
	border:1px solid #ccc;
	border-radius:10px;
	box-shadow:5px 5px 10px #999;
	padding:5%;
	text-align:left;
	font-size:30px;
	overflow:hidden;
	
}
.texto{
    width: 70%;
    height: 50px;
    font-size: 20px;
}

#cubo ul li{

	padding:30px;
	width:50%;
	color: black;
	text-shadow: 5px 5px 10px #999 ;
	text-align:center;
	margin:20px auto;
	background: white;
	border:1px solid #aaa;
	border-radius:5px;
	box-shadow:5px 5px 10px #999;
	font-weight:bold;
	
}


#cubo ul li:active{
	background:blanchedalmond;
	color:white;
}

#cubo ul form li{

	padding:30px;
	width:70%;
	color: black;
	text-shadow: 5px 5px 10px #999 ;
	text-align:center;
	margin:20px auto;
	background: white;
	border:1px solid #aaa;
	border-radius:5px;
	box-shadow:5px 5px 10px #999;
	font-weight:bold;
	cursor:pointer;	
}
.boton{
	
	padding:30px;
	width:20%;
	color: black;
	text-shadow: 5px 5px 10px #999 ;
	text-align:center;
	margin:20px auto;
	background: white;
	border:1px solid #aaa;
	border-radius:5px;
	box-shadow:5px 5px 10px #999;
	font-weight:bold;
	cursor:pointer;	
}
.boton:hover{
	background:blue;
	color:white;
}
#error{
	font-size: 20px;
	color: red;
	text-align: center;
	width: 50%;
	background:rgb(238, 163, 163);
	border:1px solid red;
	border-radius: 5px;
	
}